.profile__info-group {
  text-align: center;
}
.profile__info-number {
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
}
.profile__info-description {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}
